body {
    text-align: center;
}

#likeBtn, #dislikeBtn {
    padding: 0 5%;
    font-size: 40px;
}

h1, h2 {
    color: #575757;
}

#submit, #Reset {
    margin: 5px;
    padding: 10px 20px;
    font-size:14px;
    background-color: #656565;
    color: #fff;
}

.comments {
    margin-top: 3%;
}

.comments h3 {
    margin-bottom: 1.5%;
}

#commentBox {
    margin: 0 35%;
    width: 35%;
    height: 100px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    display: block;
}

#commentsList {
    font-size: 15px;
}